nav {
    background-color: #f1f3ff;
}

.hero {
    background-color: #f1f3ff;
    position: static;
    z-index: 0;
    margin-top: 61px
}

.findcar {
    margin-top: -50px;
    position: relative;    
    z-index: 1;
}

.findcarr {
    background-color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

li.capasity {
    list-style-image: url("../images/fi_users.svg");    
}

li.system-mobil {
    list-style-image: url("../images/fi_settings.svg");
}

li.tahun {
    list-style-image: url("../images/fi_calendar.svg");
}
